<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bdc2smcp</key>
	<array>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>itilde</string>
		<string>ntilde</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oslash</string>
		<string>oe</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>utilde</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>zcaron</string>
		<string>eth</string>
		<string>thorn</string>
	</array>
	<key>caps</key>
	<array>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
		<string>Ccedilla</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Itilde</string>
		<string>IJ</string>
		<string>Ntilde</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Oslash</string>
		<string>OE</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Zcaron</string>
		<string>Eth</string>
		<string>Thorn</string>
	</array>
	<key>figs.LP</key>
	<array>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
	</array>
	<key>figs.TP</key>
	<array>
		<string>zero.LT</string>
		<string>one.LT</string>
		<string>two.LT</string>
		<string>three.LT</string>
		<string>four.LT</string>
		<string>five.LT</string>
		<string>six.LT</string>
		<string>seven.LT</string>
		<string>eight.LT</string>
		<string>nine.LT</string>
	</array>
	<key>figs.sinf</key>
	<array>
		<string>zero.inf</string>
		<string>one.inf</string>
		<string>two.inf</string>
		<string>three.inf</string>
		<string>four.inf</string>
		<string>five.inf</string>
		<string>six.inf</string>
		<string>seven.inf</string>
		<string>eight.inf</string>
		<string>nine.inf</string>
	</array>
	<key>figs.sup</key>
	<array>
		<string>zero.sup</string>
		<string>one.sup</string>
		<string>two.sup</string>
		<string>three.sup</string>
		<string>four.sup</string>
		<string>five.sup</string>
		<string>six.sup</string>
		<string>seven.sup</string>
		<string>eight.sup</string>
		<string>nine.sup</string>
	</array>
	<key>smcp.frombdc</key>
	<array>
		<string>A.small</string>
		<string>B.small</string>
		<string>C.small</string>
		<string>D.small</string>
		<string>E.small</string>
		<string>F.small</string>
		<string>G.small</string>
		<string>H.small</string>
		<string>I.small</string>
		<string>J.small</string>
		<string>K.small</string>
		<string>L.small</string>
		<string>M.small</string>
		<string>N.small</string>
		<string>O.small</string>
		<string>P.small</string>
		<string>Q.small</string>
		<string>R.small</string>
		<string>S.small</string>
		<string>T.small</string>
		<string>U.small</string>
		<string>V.small</string>
		<string>W.small</string>
		<string>X.small</string>
		<string>Y.small</string>
		<string>Z.small</string>
		<string>Agrave.small</string>
		<string>Aacute.small</string>
		<string>Acircumflex.small</string>
		<string>Atilde.small</string>
		<string>Adieresis.small</string>
		<string>Aring.small</string>
		<string>AE.small</string>
		<string>Ccedilla.small</string>
		<string>Egrave.small</string>
		<string>Eacute.small</string>
		<string>Ecircumflex.small</string>
		<string>Edieresis.small</string>
		<string>Igrave.small</string>
		<string>Iacute.small</string>
		<string>Icircumflex.small</string>
		<string>Idieresis.small</string>
		<string>Idotaccent.small</string>
		<string>Itilde.small</string>
		<string>Ograve.small</string>
		<string>Oacute.small</string>
		<string>Ocircumflex.small</string>
		<string>Otilde.small</string>
		<string>Odieresis.small</string>
		<string>oslash</string>
		<string>OE.small</string>
		<string>Ugrave.small</string>
		<string>Uacute.small</string>
		<string>Ucircumflex.small</string>
		<string>Udieresis.small</string>
		<string>Utilde.small</string>
		<string>uTilde.small</string>
		<string>Yacute.small</string>
		<string>Ycircumflex.small</string>
		<string>Ydieresis.small</string>
		<string>Ygrave.small</string>
		<string>Eth.small</string>
		<string>Thorn.small</string>
		<string>Zcaron.small</string>
	</array>
	<key>sups.fromcap</key>
	<array>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
	</array>
	<key>sups.fromlc</key>
	<array>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
	</array>
	<key>sups.to</key>
	<array>
		<string>a.superior</string>
		<string>b.superior</string>
		<string>c.superior</string>
		<string>d.superior</string>
		<string>e.superior</string>
		<string>f.superior</string>
		<string>g.superior</string>
		<string>h.superior</string>
		<string>i.superior</string>
		<string>j.superior</string>
		<string>k.superior</string>
		<string>l.superior</string>
		<string>m.superior</string>
		<string>n.superior</string>
		<string>o.superior</string>
		<string>p.superior</string>
		<string>q.superior</string>
		<string>r.superior</string>
		<string>s.superior</string>
		<string>t.superior</string>
		<string>u.superior</string>
		<string>v.superior</string>
		<string>w.superior</string>
		<string>x.superior</string>
		<string>y.superior</string>
		<string>z.superior</string>
	</array>
</dict>
</plist>
