<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.A</key>
	<array>
		<string>A</string>
	</array>
	<key>public.kern1.L</key>
	<array>
		<string>L</string>
	</array>
	<key>public.kern1.S</key>
	<array>
		<string>S.ss02</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>T</string>
		<string>T.ss01</string>
		<string>T.ss02</string>
	</array>
	<key>public.kern1.Y</key>
	<array>
		<string>Y</string>
	</array>
	<key>public.kern1.b</key>
	<array>
		<string>b</string>
	</array>
	<key>public.kern1.o</key>
	<array>
		<string>c</string>
		<string>e</string>
		<string>o</string>
	</array>
	<key>public.kern1.p</key>
	<array>
		<string>p</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A</string>
		<string>A.ss01</string>
		<string>A.ss02</string>
		<string>L.ss02</string>
	</array>
	<key>public.kern2.S</key>
	<array>
		<string>S.ss02</string>
	</array>
	<key>public.kern2.Y</key>
	<array>
		<string>Y</string>
	</array>
	<key>public.kern2.o</key>
	<array>
		<string>a</string>
		<string>c</string>
		<string>e</string>
		<string>o</string>
	</array>
	<key>public.kern2.p</key>
	<array>
		<string>q</string>
	</array>
</dict>
</plist>
