<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Y</key>
	<dict>
		<key>a</key>
		<integer>-90</integer>
	</dict>
	<key>a.ss01</key>
	<dict>
		<key>public.kern2.Y</key>
		<integer>-100</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>public.kern2.Y</key>
		<integer>-90</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>f</key>
		<integer>-50</integer>
		<key>j</key>
		<integer>-50</integer>
	</dict>
	<key>iacute</key>
	<dict>
		<key>icircumflex</key>
		<integer>50</integer>
	</dict>
	<key>icircumflex</key>
	<dict>
		<key>idieresis</key>
		<integer>170</integer>
	</dict>
	<key>idieresis</key>
	<dict>
		<key>igrave</key>
		<integer>120</integer>
	</dict>
	<key>n.ss01</key>
	<dict>
		<key>public.kern2.Y</key>
		<integer>-90</integer>
	</dict>
	<key>public.kern1.A</key>
	<dict>
		<key>public.kern2.Y</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.L</key>
	<dict>
		<key>public.kern2.Y</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.S</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-90</integer>
	</dict>
	<key>public.kern1.T</key>
	<dict>
		<key>S.ss02</key>
		<integer>-130</integer>
		<key>public.kern2.o</key>
		<integer>-90</integer>
	</dict>
	<key>public.kern1.Y</key>
	<dict>
		<key>d</key>
		<integer>-90</integer>
		<key>m</key>
		<integer>-100</integer>
		<key>n</key>
		<integer>-100</integer>
		<key>public.kern2.o</key>
		<integer>-100</integer>
		<key>s</key>
		<integer>-100</integer>
		<key>u</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.o</key>
	<dict>
		<key>public.kern2.Y</key>
		<integer>-100</integer>
		<key>public.kern2.p</key>
		<integer>-70</integer>
	</dict>
	<key>public.kern1.p</key>
	<dict>
		<key>public.kern2.o</key>
		<integer>-70</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>public.kern2.Y</key>
		<integer>-90</integer>
	</dict>
</dict>
</plist>
