<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.userData</key>
	<dict>
		<key>GSDimensionPlugin.Dimensions</key>
		<dict>
			<key>47AA74FB-9F51-48B1-9F4F-259FA8426B1E</key>
			<dict>
				<key>HV</key>
				<string>43</string>
			</dict>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>47AA74FB-9F51-48B1-9F4F-259FA8426B1E</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>OE</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>A.ss01</string>
		<string>B.ss01</string>
		<string>C.ss01</string>
		<string>D.ss01</string>
		<string>E.ss01</string>
		<string>F.ss01</string>
		<string>G.ss01</string>
		<string>H.ss01</string>
		<string>I.ss01</string>
		<string>J.ss01</string>
		<string>K.ss01</string>
		<string>L.ss01</string>
		<string>M.ss01</string>
		<string>O.ss01</string>
		<string>P.ss01</string>
		<string>Q.ss01</string>
		<string>R.ss01</string>
		<string>S.ss01</string>
		<string>T.ss01</string>
		<string>A.ss02</string>
		<string>B.ss02</string>
		<string>C.ss02</string>
		<string>D.ss02</string>
		<string>E.ss02</string>
		<string>F.ss02</string>
		<string>G.ss02</string>
		<string>H.ss02</string>
		<string>I.ss02</string>
		<string>J.ss02</string>
		<string>K.ss02</string>
		<string>L.ss02</string>
		<string>M.ss02</string>
		<string>O.ss02</string>
		<string>P.ss02</string>
		<string>Q.ss02</string>
		<string>R.ss02</string>
		<string>S.ss02</string>
		<string>T.ss02</string>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>oe</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>germandbls</string>
		<string>t</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>z</string>
		<string>a.ss01</string>
		<string>b.ss01</string>
		<string>d.ss01</string>
		<string>g.ss01</string>
		<string>i.ss01</string>
		<string>j.ss01</string>
		<string>k.ss01</string>
		<string>m.ss01</string>
		<string>n.ss01</string>
		<string>o.ss01</string>
		<string>p.ss01</string>
		<string>q.ss01</string>
		<string>r.ss01</string>
		<string>t.ss01</string>
		<string>y.ss01</string>
		<string>z.ss01</string>
		<string>a.ss02</string>
		<string>b.ss02</string>
		<string>d.ss02</string>
		<string>g.ss02</string>
		<string>i.ss02</string>
		<string>j.ss02</string>
		<string>k.ss02</string>
		<string>m.ss02</string>
		<string>n.ss02</string>
		<string>o.ss02</string>
		<string>p.ss02</string>
		<string>q.ss02</string>
		<string>r.ss02</string>
		<string>t.ss02</string>
		<string>y.ss02</string>
		<string>z.ss02</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>periodcentered</string>
		<string>asterisk</string>
		<string>numbersign</string>
		<string>slash</string>
		<string>backslash</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>underscore</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotereversed</string>
		<string>quotedblrightreversed</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>space</string>
		<string>.notdef</string>
		<string>cent</string>
		<string>dollar</string>
		<string>euro</string>
		<string>sterling</string>
		<string>won</string>
		<string>yen</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>greater</string>
		<string>less</string>
		<string>plusminus</string>
		<string>asciitilde</string>
		<string>asciicircum</string>
		<string>integral</string>
		<string>summation</string>
		<string>radical</string>
		<string>percent</string>
		<string>upArrow</string>
		<string>northEastArrow</string>
		<string>rightArrow</string>
		<string>southEastArrow</string>
		<string>downArrow</string>
		<string>southWestArrow</string>
		<string>leftArrow</string>
		<string>northWestArrow</string>
		<string>leftRightArrow</string>
		<string>upDownArrow</string>
		<string>lozenge</string>
		<string>upWhiteTriangle</string>
		<string>heartBlackSuit</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>section</string>
		<string>degree</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>dieresiscomb</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>circumflexcomb</string>
		<string>ringcomb</string>
		<string>tildecomb</string>
		<string>cedillacomb</string>
		<string>slashlongcomb</string>
		<string>dieresis</string>
		<string>grave</string>
		<string>acute</string>
		<string>circumflex</string>
		<string>ring</string>
		<string>tilde</string>
		<string>cedilla</string>
		<string>VTF</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>cedillacomb</key>
		<string>uni0327</string>
		<key>circumflexcomb</key>
		<string>uni0302</string>
		<key>dieresiscomb</key>
		<string>uni0308</string>
		<key>downArrow</key>
		<string>arrowdown</string>
		<key>euro</key>
		<string>Euro</string>
		<key>guillemetleft</key>
		<string>guillemotleft</string>
		<key>guillemetright</key>
		<string>guillemotright</string>
		<key>heartBlackSuit</key>
		<string>heart</string>
		<key>idotless</key>
		<string>dotlessi</string>
		<key>leftArrow</key>
		<string>arrowleft</string>
		<key>leftRightArrow</key>
		<string>arrowboth</string>
		<key>northEastArrow</key>
		<string>uni2197</string>
		<key>northWestArrow</key>
		<string>uni2196</string>
		<key>quotedblrightreversed</key>
		<string>uni201F</string>
		<key>rightArrow</key>
		<string>arrowright</string>
		<key>ringcomb</key>
		<string>uni030A</string>
		<key>slashlongcomb</key>
		<string>uni0338</string>
		<key>southEastArrow</key>
		<string>uni2198</string>
		<key>southWestArrow</key>
		<string>uni2199</string>
		<key>upArrow</key>
		<string>arrowup</string>
		<key>upDownArrow</key>
		<string>arrowupdn</string>
		<key>upWhiteTriangle</key>
		<string>uni25B3</string>
		<key>won</key>
		<string>uni20A9</string>
	</dict>
</dict>
</plist>
