<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.small</key>
	<string>A_.small.glif</string>
	<key>AE</key>
	<string>AE_.glif</string>
	<key>AE.small</key>
	<string>AE_.small.glif</string>
	<key>Aacute</key>
	<string>Aacute_.glif</string>
	<key>Aacute.small</key>
	<string>Aacute_.small.glif</string>
	<key>Acircumflex</key>
	<string>Acircumflex_.glif</string>
	<key>Acircumflex.small</key>
	<string>Acircumflex_.small.glif</string>
	<key>Adieresis</key>
	<string>Adieresis_.glif</string>
	<key>Adieresis.small</key>
	<string>Adieresis_.small.glif</string>
	<key>Agrave</key>
	<string>Agrave_.glif</string>
	<key>Agrave.small</key>
	<string>Agrave_.small.glif</string>
	<key>Aring</key>
	<string>Aring_.glif</string>
	<key>Aring.small</key>
	<string>Aring_.small.glif</string>
	<key>Atilde</key>
	<string>Atilde_.glif</string>
	<key>Atilde.small</key>
	<string>Atilde_.small.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B.small</key>
	<string>B_.small.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>C.small</key>
	<string>C_.small.glif</string>
	<key>Ccedilla</key>
	<string>Ccedilla_.glif</string>
	<key>Ccedilla.small</key>
	<string>Ccedilla_.small.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>D.small</key>
	<string>D_.small.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.small</key>
	<string>E_.small.glif</string>
	<key>Eacute</key>
	<string>Eacute_.glif</string>
	<key>Eacute.small</key>
	<string>Eacute_.small.glif</string>
	<key>Ecircumflex</key>
	<string>Ecircumflex_.glif</string>
	<key>Ecircumflex.small</key>
	<string>Ecircumflex_.small.glif</string>
	<key>Edieresis</key>
	<string>Edieresis_.glif</string>
	<key>Edieresis.small</key>
	<string>Edieresis_.small.glif</string>
	<key>Egrave</key>
	<string>Egrave_.glif</string>
	<key>Egrave.small</key>
	<string>Egrave_.small.glif</string>
	<key>Eth</key>
	<string>Eth_.glif</string>
	<key>Eth.small</key>
	<string>Eth_.small.glif</string>
	<key>Euro</key>
	<string>Euro_.glif</string>
	<key>Euro.LT</key>
	<string>Euro_.LT_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>F.small</key>
	<string>F_.small.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.small</key>
	<string>G_.small.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>H.small</key>
	<string>H_.small.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>I.small</key>
	<string>I_.small.glif</string>
	<key>IJ</key>
	<string>IJ_.glif</string>
	<key>IJ.small</key>
	<string>IJ_.small.glif</string>
	<key>Iacute</key>
	<string>Iacute_.glif</string>
	<key>Iacute.small</key>
	<string>Iacute_.small.glif</string>
	<key>Icircumflex</key>
	<string>Icircumflex_.glif</string>
	<key>Icircumflex.small</key>
	<string>Icircumflex_.small.glif</string>
	<key>Idieresis</key>
	<string>Idieresis_.glif</string>
	<key>Idieresis.small</key>
	<string>Idieresis_.small.glif</string>
	<key>Idotaccent</key>
	<string>Idotaccent_.glif</string>
	<key>Idotaccent.small</key>
	<string>Idotaccent_.small.glif</string>
	<key>Igrave</key>
	<string>Igrave_.glif</string>
	<key>Igrave.small</key>
	<string>Igrave_.small.glif</string>
	<key>Itilde</key>
	<string>Itilde_.glif</string>
	<key>Itilde.small</key>
	<string>Itilde_.small.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>J.small</key>
	<string>J_.small.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>K.small</key>
	<string>K_.small.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>L.small</key>
	<string>L_.small.glif</string>
	<key>Lslash</key>
	<string>Lslash_.glif</string>
	<key>Lslash.small</key>
	<string>Lslash_.small.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M.small</key>
	<string>M_.small.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>N.small</key>
	<string>N_.small.glif</string>
	<key>Ntilde</key>
	<string>Ntilde_.glif</string>
	<key>Ntilde.small</key>
	<string>Ntilde_.small.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>O.small</key>
	<string>O_.small.glif</string>
	<key>OE</key>
	<string>OE_.glif</string>
	<key>OE.small</key>
	<string>OE_.small.glif</string>
	<key>Oacute</key>
	<string>Oacute_.glif</string>
	<key>Oacute.small</key>
	<string>Oacute_.small.glif</string>
	<key>Ocircumflex</key>
	<string>Ocircumflex_.glif</string>
	<key>Ocircumflex.small</key>
	<string>Ocircumflex_.small.glif</string>
	<key>Odieresis</key>
	<string>Odieresis_.glif</string>
	<key>Odieresis.small</key>
	<string>Odieresis_.small.glif</string>
	<key>Ograve</key>
	<string>Ograve_.glif</string>
	<key>Ograve.small</key>
	<string>Ograve_.small.glif</string>
	<key>Oslash</key>
	<string>Oslash_.glif</string>
	<key>Oslash.small</key>
	<string>Oslash_.small.glif</string>
	<key>Otilde</key>
	<string>Otilde_.glif</string>
	<key>Otilde.small</key>
	<string>Otilde_.small.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>P.small</key>
	<string>P_.small.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.small</key>
	<string>Q_.small.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.small</key>
	<string>R_.small.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S.small</key>
	<string>S_.small.glif</string>
	<key>Scaron</key>
	<string>Scaron_.glif</string>
	<key>Scaron.small</key>
	<string>Scaron_.small.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>T.small</key>
	<string>T_.small.glif</string>
	<key>Thorn</key>
	<string>Thorn_.glif</string>
	<key>Thorn.small</key>
	<string>Thorn_.small.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>U.small</key>
	<string>U_.small.glif</string>
	<key>Uacute</key>
	<string>Uacute_.glif</string>
	<key>Uacute.small</key>
	<string>Uacute_.small.glif</string>
	<key>Ucircumflex</key>
	<string>Ucircumflex_.glif</string>
	<key>Ucircumflex.small</key>
	<string>Ucircumflex_.small.glif</string>
	<key>Udieresis</key>
	<string>Udieresis_.glif</string>
	<key>Udieresis.small</key>
	<string>Udieresis_.small.glif</string>
	<key>Ugrave</key>
	<string>Ugrave_.glif</string>
	<key>Ugrave.small</key>
	<string>Ugrave_.small.glif</string>
	<key>Utilde</key>
	<string>Utilde_.glif</string>
	<key>Utilde.small</key>
	<string>Utilde_.small.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>V.small</key>
	<string>V_.small.glif</string>
	<key>VTF</key>
	<string>VTF_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>W.small</key>
	<string>W_.small.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>X.small</key>
	<string>X_.small.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Y.small</key>
	<string>Y_.small.glif</string>
	<key>Yacute</key>
	<string>Yacute_.glif</string>
	<key>Yacute.small</key>
	<string>Yacute_.small.glif</string>
	<key>Ycircumflex</key>
	<string>Ycircumflex_.glif</string>
	<key>Ycircumflex.small</key>
	<string>Ycircumflex_.small.glif</string>
	<key>Ydieresis</key>
	<string>Ydieresis_.glif</string>
	<key>Ydieresis.small</key>
	<string>Ydieresis_.small.glif</string>
	<key>Ygrave</key>
	<string>Ygrave_.glif</string>
	<key>Ygrave.small</key>
	<string>Ygrave_.small.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Z.small</key>
	<string>Z_.small.glif</string>
	<key>Zacute</key>
	<string>Zacute_.glif</string>
	<key>Zcaron</key>
	<string>Zcaron_.glif</string>
	<key>Zcaron.small</key>
	<string>Zcaron_.small.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.alt</key>
	<string>a.alt.glif</string>
	<key>a.superior</key>
	<string>a.superior.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>aacute.alt</key>
	<string>aacute.alt.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acircumflex.alt</key>
	<string>acircumflex.alt.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>adieresis.alt</key>
	<string>adieresis.alt.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>ae.alt</key>
	<string>ae.alt.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>agrave.alt</key>
	<string>agrave.alt.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>aring.alt</key>
	<string>aring.alt.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>atilde.alt</key>
	<string>atilde.alt.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>b.superior</key>
	<string>b.superior.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>blackcircle</key>
	<string>blackcircle.glif</string>
	<key>blackdiamond</key>
	<string>blackdiamond.glif</string>
	<key>blacklargesquare</key>
	<string>blacklargesquare.glif</string>
	<key>blacklowerlefttriangle</key>
	<string>blacklowerlefttriangle.glif</string>
	<key>blacklowerrighttriangle</key>
	<string>blacklowerrighttriangle.glif</string>
	<key>blackshade</key>
	<string>blackshade.glif</string>
	<key>blacksmallsquare</key>
	<string>blacksmallsquare.glif</string>
	<key>blacksmilingface</key>
	<string>blacksmilingface.glif</string>
	<key>blackupperlefttriangle</key>
	<string>blackupperlefttriangle.glif</string>
	<key>blackupperrighttriangle</key>
	<string>blackupperrighttriangle.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceleft.cap</key>
	<string>braceleft.cap.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>braceright.cap</key>
	<string>braceright.cap.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketleft.cap</key>
	<string>bracketleft.cap.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>bracketright.cap</key>
	<string>bracketright.cap.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>bullet.cap</key>
	<string>bullet.cap.glif</string>
	<key>bullseye</key>
	<string>bullseye.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c.superior</key>
	<string>c.superior.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>cent.LT</key>
	<string>cent.LT_.glif</string>
	<key>circleupleftquadrantwhite</key>
	<string>circleupleftquadrantwhite.glif</string>
	<key>circleuprightquadrantblack</key>
	<string>circleuprightquadrantblack.glif</string>
	<key>circlewithlefthalfblack</key>
	<string>circlewithlefthalfblack.glif</string>
	<key>circlewithlowerhalfblack</key>
	<string>circlewithlowerhalfblack.glif</string>
	<key>circlewithrighthalfblack</key>
	<string>circlewithrighthalfblack.glif</string>
	<key>circlewithupperhalfblack</key>
	<string>circlewithupperhalfblack.glif</string>
	<key>circlewithverticalfill</key>
	<string>circlewithverticalfill.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>clockwisearrows</key>
	<string>clockwisearrows.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>d.superior</key>
	<string>d.superior.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>darkshade</key>
	<string>darkshade.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>diagonalcrosshatchfill</key>
	<string>diagonalcrosshatchfill.glif</string>
	<key>diamondinsquare</key>
	<string>diamondinsquare.glif</string>
	<key>diamondwithblacksmalldiamond</key>
	<string>diamondwithblacksmalldiamond.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dollar.LT</key>
	<string>dollar.LT_.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>dotlessj</key>
	<string>dotlessj.glif</string>
	<key>dottedcircle</key>
	<string>dottedcircle.glif</string>
	<key>dottedsquare</key>
	<string>dottedsquare.glif</string>
	<key>downwardsarrow</key>
	<string>downwardsarrow.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e.superior</key>
	<string>e.superior.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.LT</key>
	<string>eight.LT_.glif</string>
	<key>eight.dnom</key>
	<string>eight.dnom.glif</string>
	<key>eight.inf</key>
	<string>eight.inf.glif</string>
	<key>eight.sup</key>
	<string>eight.sup.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>emdash.cap</key>
	<string>emdash.cap.glif</string>
	<key>emspace</key>
	<string>emspace.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>endash.cap</key>
	<string>endash.cap.glif</string>
	<key>enspace</key>
	<string>enspace.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>exclamdown.cap</key>
	<string>exclamdown.cap.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f.superior</key>
	<string>f.superior.glif</string>
	<key>fisheye</key>
	<string>fisheye.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.LT</key>
	<string>five.LT_.glif</string>
	<key>five.dnom</key>
	<string>five.dnom.glif</string>
	<key>five.inf</key>
	<string>five.inf.glif</string>
	<key>five.sup</key>
	<string>five.sup.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.LT</key>
	<string>four.LT_.glif</string>
	<key>four.dnom</key>
	<string>four.dnom.glif</string>
	<key>four.inf</key>
	<string>four.inf.glif</string>
	<key>four.sup</key>
	<string>four.sup.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.alt</key>
	<string>g.alt.glif</string>
	<key>g.superior</key>
	<string>g.superior.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotleft.cap</key>
	<string>guillemotleft.cap.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guillemotright.cap</key>
	<string>guillemotright.cap.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglleft.cap</key>
	<string>guilsinglleft.cap.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>guilsinglright.cap</key>
	<string>guilsinglright.cap.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>h.superior</key>
	<string>h.superior.glif</string>
	<key>hairspace</key>
	<string>hairspace.glif</string>
	<key>hashed</key>
	<string>hashed.glif</string>
	<key>hashedlargesquare</key>
	<string>hashedlargesquare.glif</string>
	<key>heavyverticalandhorizontal</key>
	<string>heavyverticalandhorizontal.glif</string>
	<key>horizontalfill</key>
	<string>horizontalfill.glif</string>
	<key>horizontalruler</key>
	<string>horizontalruler.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>hyphen.cap</key>
	<string>hyphen.cap.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i.TRK</key>
	<string>i.TRK_.glif</string>
	<key>i.superior</key>
	<string>i.superior.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>ij</key>
	<string>ij.glif</string>
	<key>itilde</key>
	<string>itilde.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>j.superior</key>
	<string>j.superior.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>k.superior</key>
	<string>k.superior.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l.superior</key>
	<string>l.superior.glif</string>
	<key>largespace</key>
	<string>largespace.glif</string>
	<key>leftrightarrow</key>
	<string>leftrightarrow.glif</string>
	<key>leftwardsarrow</key>
	<string>leftwardsarrow.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>lightshade</key>
	<string>lightshade.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>m.superior</key>
	<string>m.superior.glif</string>
	<key>mediumshade</key>
	<string>mediumshade.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n.superior</key>
	<string>n.superior.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.LT</key>
	<string>nine.LT_.glif</string>
	<key>nine.dnom</key>
	<string>nine.dnom.glif</string>
	<key>nine.inf</key>
	<string>nine.inf.glif</string>
	<key>nine.sup</key>
	<string>nine.sup.glif</string>
	<key>nonbreakingspace</key>
	<string>nonbreakingspace.glif</string>
	<key>northeastarrow</key>
	<string>northeastarrow.glif</string>
	<key>northwestarrow</key>
	<string>northwestarrow.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>numbersign.LT</key>
	<string>numbersign.LT_.glif</string>
	<key>numero</key>
	<string>numero.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o.superior</key>
	<string>o.superior.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.LT</key>
	<string>one.LT_.glif</string>
	<key>one.dnom</key>
	<string>one.dnom.glif</string>
	<key>one.inf</key>
	<string>one.inf.glif</string>
	<key>one.sup</key>
	<string>one.sup.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>p.superior</key>
	<string>p.superior.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenleft.cap</key>
	<string>parenleft.cap.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>parenright.cap</key>
	<string>parenright.cap.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>periodcentered.cap</key>
	<string>periodcentered.cap.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>published</key>
	<string>published.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>q.superior</key>
	<string>q.superior.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>questiondown.cap</key>
	<string>questiondown.cap.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.superior</key>
	<string>r.superior.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>rightarrowoverleftarrow</key>
	<string>rightarrowoverleftarrow.glif</string>
	<key>rightwardsarrow</key>
	<string>rightwardsarrow.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>roundeddot</key>
	<string>roundeddot.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s.superior</key>
	<string>s.superior.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.LT</key>
	<string>seven.LT_.glif</string>
	<key>seven.dnom</key>
	<string>seven.dnom.glif</string>
	<key>seven.inf</key>
	<string>seven.inf.glif</string>
	<key>seven.sup</key>
	<string>seven.sup.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.LT</key>
	<string>six.LT_.glif</string>
	<key>six.dnom</key>
	<string>six.dnom.glif</string>
	<key>six.inf</key>
	<string>six.inf.glif</string>
	<key>six.sup</key>
	<string>six.sup.glif</string>
	<key>skullandcrossbones</key>
	<string>skullandcrossbones.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>southeastarrow</key>
	<string>southeastarrow.glif</string>
	<key>southwestarrow</key>
	<string>southwestarrow.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>squarediagonalcrosshatchfill</key>
	<string>squarediagonalcrosshatchfill.glif</string>
	<key>squaredsquare</key>
	<string>squaredsquare.glif</string>
	<key>squarelowrightdiagonalhalfblack</key>
	<string>squarelowrightdiagonalhalfblack.glif</string>
	<key>squareupleftdiagonalhalfblack</key>
	<string>squareupleftdiagonalhalfblack.glif</string>
	<key>squareuplefttolowrightfill</key>
	<string>squareuplefttolowrightfill.glif</string>
	<key>squareuprighttolowleftfill</key>
	<string>squareuprighttolowleftfill.glif</string>
	<key>squareverticalbisectingline</key>
	<string>squareverticalbisectingline.glif</string>
	<key>squarewithblacksmallsquare</key>
	<string>squarewithblacksmallsquare.glif</string>
	<key>squarewithhorizontalfill</key>
	<string>squarewithhorizontalfill.glif</string>
	<key>squarewithlefthalfblack</key>
	<string>squarewithlefthalfblack.glif</string>
	<key>squarewithlowerleftquadrant</key>
	<string>squarewithlowerleftquadrant.glif</string>
	<key>squarewithlowerrightquadrant</key>
	<string>squarewithlowerrightquadrant.glif</string>
	<key>squarewithrighthalfblack</key>
	<string>squarewithrighthalfblack.glif</string>
	<key>squarewithupperleftquadrant</key>
	<string>squarewithupperleftquadrant.glif</string>
	<key>squarewithupperrightquadrant</key>
	<string>squarewithupperrightquadrant.glif</string>
	<key>squarewithverticalfill</key>
	<string>squarewithverticalfill.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t.superior</key>
	<string>t.superior.glif</string>
	<key>thinspace</key>
	<string>thinspace.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.LT</key>
	<string>three.LT_.glif</string>
	<key>three.dnom</key>
	<string>three.dnom.glif</string>
	<key>three.inf</key>
	<string>three.inf.glif</string>
	<key>three.sup</key>
	<string>three.sup.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>twistedrightwardsarrows</key>
	<string>twistedrightwardsarrows.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.LT</key>
	<string>two.LT_.glif</string>
	<key>two.dnom</key>
	<string>two.dnom.glif</string>
	<key>two.inf</key>
	<string>two.inf.glif</string>
	<key>two.sup</key>
	<string>two.sup.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u.superior</key>
	<string>u.superior.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>updownarrow</key>
	<string>updownarrow.glif</string>
	<key>upperlefttolowrightfill</key>
	<string>upperlefttolowrightfill.glif</string>
	<key>uprighttolowerleftfill</key>
	<string>uprighttolowerleftfill.glif</string>
	<key>upwardsarrow</key>
	<string>upwardsarrow.glif</string>
	<key>utilde</key>
	<string>utilde.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>v.superior</key>
	<string>v.superior.glif</string>
	<key>verticalfill</key>
	<string>verticalfill.glif</string>
	<key>verticalruler</key>
	<string>verticalruler.glif</string>
	<key>victoryhand</key>
	<string>victoryhand.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>w.superior</key>
	<string>w.superior.glif</string>
	<key>whitecircle</key>
	<string>whitecircle.glif</string>
	<key>whitediamond</key>
	<string>whitediamond.glif</string>
	<key>whitedownpointingindex</key>
	<string>whitedownpointingindex.glif</string>
	<key>whitelargesquare</key>
	<string>whitelargesquare.glif</string>
	<key>whiteleftpointingindex</key>
	<string>whiteleftpointingindex.glif</string>
	<key>whiterightpointingindex</key>
	<string>whiterightpointingindex.glif</string>
	<key>whiteroundedsquare</key>
	<string>whiteroundedsquare.glif</string>
	<key>whitesmallsquare</key>
	<string>whitesmallsquare.glif</string>
	<key>whitesmilingface</key>
	<string>whitesmilingface.glif</string>
	<key>whiteuppointingindex</key>
	<string>whiteuppointingindex.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>x.superior</key>
	<string>x.superior.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.superior</key>
	<string>y.superior.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ycircumflex</key>
	<string>ycircumflex.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>yen.LT</key>
	<string>yen.LT_.glif</string>
	<key>ygrave</key>
	<string>ygrave.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>z.superior</key>
	<string>z.superior.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.LT</key>
	<string>zero.LT_.glif</string>
	<key>zero.dnom</key>
	<string>zero.dnom.glif</string>
	<key>zero.inf</key>
	<string>zero.inf.glif</string>
	<key>zero.slash</key>
	<string>zero.slash.glif</string>
	<key>zero.slash.LT</key>
	<string>zero.slash.LT_.glif</string>
	<key>zero.sup</key>
	<string>zero.sup.glif</string>
</dict>
</plist>
