body{

}

.candle{
    position: relative;
    width: 600px;
    height: 600px;
    background: #a7a7a7;


    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;

}

.candle:hover{
    position: relative;
    width: 600px;
    height: 600px;
    background: #525252;
border-radius: : 100px;
transition:all 3S;
  text-transform: uppercase;
}

.light{
    position: absolute;
    width: 260px;
    height: 260px;
    top: 60px;
    left: 157px;
    background: #f7a233a6;
    border-radius: 130px;
    filter: blur(30px);
}

.fire1 {
    width: 130px;
    height: 150px;
    background: #ecb54b;
    position: absolute;
    top: 100px;
    left: 215px;
    border-radius: 220px 10px 150px 130px;
    overflow:hidden;
      animation: rotate; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
}


.fire2 {
    width: 81px;
    height: 98px;
    background: #f5583c;
    position: absolute;
    top: 152px;
    left: 240px;
    border-radius: 182px 10px 150px 130px;
}



.fire3 {
    width: 52px;
    height: 56px;
    background: #f91301;
    position: absolute;
    top: 194px;
    left: 254px;
    border-radius: 153px 10px 150px 130px;
}





.body {
    width: 100px;
    height: 310px;
    background: #e8e5e5;
    position: absolute;
    left: 229px;
    top: 254px;
    border-radius: 10px;
}

.others1 {
    width: 20px;
    height: 30px;
    background: #fff8f2;
    position: absolute;
    left: 221px;
    top: 254px;
    border-radius: 10px;
}

.others2 {
width: 20px;
    height: 50px;
    background: #fff8f2;
    position: absolute;
    left: 253px;
    top: 254px;
    border-radius: 10px;
}

.others3 {
    width: 20px;
    height: 40px;
    background: #fff8f2;
    position: absolute;
    left: 293px;
    top: 254px;
    border-radius: 10px;
}

.others4 {
    width: 20px;
    height: 90px;
    background: #fff8f2;
    position: absolute;
    left: 321px;
    top: 254px;
    border-radius: 10px;
}

.others5 {
    width: 20px;
    height: 17px;
    background: #fff8f2;
    position: absolute;
    left: 325px;
    top: 547px;
    border-radius: 10px;
    animation: rotate ;run; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;

}

.background2 {
    width: 119px;
    height: 18px;
    background: #fff8f2;
    position: absolute;
    left: 222px;
    top: 254px;
    border-radius: 10px;
}

.background2 {
    width: 119px;
    height: 18px;
    background: #fff8f2;
    position: absolute;
    left: 222px;
    top: 254px;
    border-radius: 10px;
}

   @keyframes rotate {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(360deg);
                }
            }
   @keyframes run {
                from {
                    background-position: 0 0;
                }
                to {
                    transform: 100px 20px;
                }
            }



}
